#wrapper {
	margin : 0px auto;
	padding : 0px 0px 30px;
	width: 1000px;
	background-color:#FFFFFF;
	text-align: left;
	font-size : 18px;
	font-family: "Times New Roman", Times; 
}

h3{
	margin: 20px 0px 5px;
	padding: 0px;
}

p {
	margin : 5px 0px;
	padding : 0px 20px;
}

ul {
	margin: 0px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
	padding: 5px 5px;
}

th, td {
	text-align: center;
}
	

